{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="container mt-4">

    <div class="card" style="width: 29rem; margin: auto;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">TODO LIST</h5>

            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="text" value="{{ todo.text }}" placeholder="Add task">
                <button id="submit">SUBMIT</button>
            </form>
            <small class="text-danger">{{ error }}</small>

        </div>
        
        <div class="card-body">

            <div class="task-wrappr">
                {% for todo in todos %}
                    <div class="mt-2 d-flex task-wrapper">

                        {% if todo.done == False %}
                            <div style="min-width: 420px;">
                                <p>{{ todo.text }}</p>
                            </div>
                        {% else %}
                            <div style="min-width: 420px;">
                                <strike class="text-warning">{{ todo.text }}</strike>
                            </div>
                        {% endif %}

                        <div class="m-2">
                            <a href="{% url 'finished' todo.id %}" class="text-success">
                                <i class="far fa-calendar-check"></i>
                            </a>
                        </div>

                        <div class="m-2">
                            <a href="{% url 'edit' todo.id %}" class="text-info">
                                <i class="far fa-edit"></i>
                            </a>
                        </div>

                        <div class="m-2">
                            <a href="{% url 'delete' todo.id %}" class="text-danger">
                                <i class="far fa-trash"></i>
                            </a>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

{% endblock %}

